{{!-- 
<p>ID: {{ user.id }}</p>
<p>Profile:
    <a href=" {{ user.profileUrl }}">{{ user.profileUrl }}</a>
</p>
<img src="{{ user.photos }}">  --}}
<div class="container">
    
    <p class="neon">Dj Playlist</p>
      <div class="wrapper">
        <div class="scroll-list">

        <div class="scroll-list__wrp js-scroll-content js-scroll-list">

          <div class="scroll-list__item js-scroll-list-item">
                    {{!-- <div id="result" data-test="blahblah">

                    </div> --}}
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>



          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                alt=" Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://www.udiscovermusic.com/wp-content/uploads/2018/11/Drake-Take-Care-Album-Cover-web-optimised-820.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://www.okayplayer.com/wp-content/uploads/2019/12/roddy-rich-releases-debut-studio-album-please-excuse-me-for-being-antisocial-1-715x715.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                alt=" Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://www.udiscovermusic.com/wp-content/uploads/2018/11/Drake-Take-Care-Album-Cover-web-optimised-820.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://www.okayplayer.com/wp-content/uploads/2019/12/roddy-rich-releases-debut-studio-album-please-excuse-me-for-being-antisocial-1-715x715.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                alt=" Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://www.udiscovermusic.com/wp-content/uploads/2018/11/Drake-Take-Care-Album-Cover-web-optimised-820.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://www.okayplayer.com/wp-content/uploads/2019/12/roddy-rich-releases-debut-studio-album-please-excuse-me-for-being-antisocial-1-715x715.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                alt=" Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://www.udiscovermusic.com/wp-content/uploads/2018/11/Drake-Take-Care-Album-Cover-web-optimised-820.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <a href="https://codepen.io/MarioDesigns/">
              <img
                src="https://www.okayplayer.com/wp-content/uploads/2019/12/roddy-rich-releases-debut-studio-album-please-excuse-me-for-being-antisocial-1-715x715.jpg"
                alt="Skytsunami" />
            </a>
            <div class="song">
              <p>Song: Headlines</p>
              <p>Artist: Drake</p>
              <p>Album: Take Care</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="wrapper-2">
        <div class="scroll-list-2">

          <div class="scroll-list__wrp-2 js-scroll-content-2 js-scroll-list-2">

            <div class="scroll-list__item js-scroll-list-item-2">
              <a href="https://codepen.io/MarioDesigns/">
                <img
                  src="https://images.complex.com/complex/images/c_fill,dpr_auto,q_90,w_920/fl_lossy,pg_1/ebjrkgp7iu5fajw98mzn/lil-uzi-vert-eternal-atake-deluxe-stream"
                  alt="Skytsunami" />
              </a>
              <div class="song">
                <p>Song: Headlines</p>
                <p>Artist: Drake</p>
                <p>Album: Take Care</p>
              </div>

              {{!-- .js-scroll-list-item-2
        .js-scroll-list-2' --}}

            </div>
            <div class="scroll-list__item js-scroll-list-item-2">
              <a href="https://codepen.io/MarioDesigns/">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                  alt="Skytsunami" />
              </a>
              <div class="song">
                <p>Song: Headlines</p>
                <p>Artist: Drake</p>
                <p>Album: Take Care</p>
              </div>
            </div>
            <div class="scroll-list__item js-scroll-list-item-2">
              <a href="https://codepen.io/MarioDesigns/">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                  alt="Skytsunami" />
              </a>
              <div class="song">
                <p>Song: Headlines</p>
                <p>Artist: Drake</p>
                <p>Album: Take Care</p>
              </div>
            </div>
            <div class="scroll-list__item js-scroll-list-item-2">
              <a href="https://codepen.io/MarioDesigns/">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
                  alt="Skytsunami" />
              </a>
              <div class="song">
                <p>Song: Headlines</p>
                <p>Artist: Drake</p>
                <p>Album: Take Care</p>
              </div>
            </div>

            <div class="scroll-list__item js-scroll-list-item-2">
              <a href="https://codepen.io/MarioDesigns/">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                  alt="Skytsunami" />
              </a>
              <div class="song">
                <p>Song: Headlines</p>
                <p>Artist: Drake</p>
                <p>Album: Take Care</p>
              </div>
            </div>

            <div class="scroll-list__item js-scroll-list-item-2">
              <a href="https://codepen.io/MarioDesigns/">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                  alt="Skytsunami" />
              </a>
              <div class="song">
                <p>Song: Headlines</p>
                <p>Artist: Drake</p>
                <p>Album: Take Care</p>
              </div>
            </div>

            <div class="scroll-list__item js-scroll-list-item-2">
              <a href="https://codepen.io/MarioDesigns/">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                  alt="Skytsunami" />
              </a>
              <div class="song">
                <p>Song: Headlines</p>
                <p>Artist: Drake</p>
                <p>Album: Take Care</p>
              </div>
            </div>

            <div class="scroll-list__item js-scroll-list-item-2">
              <a href="https://codepen.io/MarioDesigns/">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8UOWumSji79l4ei77i7XjeMjZk19fQSFHZy2kDdmHAXORzfuL"
                  alt="Skytsunami" />
              </a>
              <div class="song">
                <p>Song: Headlines</p>
                <p>Artist: Drake</p>
                <p>Album: Take Care</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    
  </div>







