<div class="body-wrap">
    <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/images/djtec-logo.png" alt="logo" height="70px" width="150px"></a>
        </div>
  
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" id='nav-list'>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Login</a></li>
                  <li><a href="#">Settings</a></li>
                </ul>
              </li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
</div>