 <div class="wrapper">
    <div class="scroll-list">
      <div class="scroll-list__wrp js-scroll-content js-scroll-list">
        <div class="scroll-list__item js-scroll-list-item">
          <a href="https://codepen.io/MarioDesigns/">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
              alt="Skytsunami" />
          </a>
          <div class="song">
            <p>Song: Headlines</p>
            <p>Artist: Drake</p>
            <p>Album: Take Care</p>
          </div>
        </div>
        <div class="scroll-list__item js-scroll-list-item">
          <a href="https://codepen.io/MarioDesigns/">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
              alt="Skytsunami" />
          </a>
          <div class="song">
            <p>Song: Headlines</p>
            <p>Artist: Drake</p>
            <p>Album: Take Care</p>
          </div>
        </div>
        <div class="scroll-list__item js-scroll-list-item">
          <a href="https://codepen.io/MarioDesigns/">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Ready_To_Die.jpg/220px-Ready_To_Die.jpg"
              alt="Skytsunami" />
          </a>
          <div class="song">
            <p>Song: Headlines</p>
            <p>Artist: Drake</p>
            <p>Album: Take Care</p>
          </div>
        </div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
        <div class="scroll-list__item js-scroll-list-item"></div>
      </div>
    </div>
  </div>