<header class="hero">
    <div class="content">
        <div class="logo">
        </div>
        <p>DJ TECH</p>
        <p>Welcome To DJ TECH a revolutionary app that connects you to your DJ</p>
        <button onclick="window.location.href = '/auth/spotify';" class="cta">Login/Register</button>
    </div>
</header>

<main class="main">

    <section>
        <div class="tab-row">
            <div class="col-12">
                <h2>Inspiration</h2>
                <p>For generations Dj's have played a vital role in the party setting. Dj's must determine the best choice of music for the party
                    and must stay up to date with current music trends. Often times the Dj do not end up playing key songs that would greatly please the crowd
                    they are serving. Since the Dj dictates the vibe of the party, why don't we let the party goers in on the action.
                 </p>
            </div>
    </section>
    <section class="feature">
        <div class="tab-row">
            <div class="col-12">
                <h2>Intention</h2>
                <p>Dj Tech gives you the capability to connect with the Dj. The main homepage will display
                    the current Dj's playlist along with a user resquest section. You can send a song request to the Dj or 
                    vote from the current list of songs chosen by other users. Dj Tech's main goal is to have a personalized experience
                    along with making the Dj's life easier.
                     </p>
            </div>
        </div>
        </div>
    </section>      
     
</main>

<footer class="footer">
    <div class="row">
        <div class="col-12" style="text-align: right;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi a unde iste harum quis veritatis
                laudantium tempora, error veniam, incidunt?</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">&copy; 2020 Dj Tech - <a href="#">Facebook</a> - <a href="#">Twitter</a></div>
    </div>
</footer>