<div class="overlay"></div>
<div class="login-box">
  {{!-- <img class="user-img" src="http://drive.google.com/uc?export=view&id=1nJMCsM7MloVL4oxpruIDh5g-L2bYVZW1" alt="user"> --}}
  <form action="/home">
    <p>E-mail:</p>
    <input type="email" name="email" placeholder="Your E-mail"><br>
    <p>Password</p><input type="password" name="" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"><br>
    <input type="submit" name="submit" value="Login">
  </form>
  <div class="links">
    <a href="/forget-password">Forget Password</a>
    <br>
    <a href="/signup"> Sign Up here.</a>
  </div>
</div>
