<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
        {{#each post}}
            <li class="list-group-item">
            <div><small>{{ this }}</small></div>
            </li>
        {{/each}}
        </ul>
    </div>
</div>

