/* bootstrap dropdown hover menu*/

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #4f5d6e;
    position: relative;
  } 
  .body-wrap {
    position: relative;
    z-index: 0;
  }
  
  nav {
    margin-top: 60px;
    box-shadow: 5px 4px 5px #000;
  }