@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext");

html {
    position: relative;
    overflow-x: hidden !important;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: #f2f7fd;
}

a,
a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #fa9b48 100%); */
    /* background: linear-gradient(to right bottom, #002f4b, #dc4225); */
    /* background: radial-gradient(ellipse farthest-corner at 0 bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1) 100%) rgb(37, 37, 39); */
    /* background:
        linear-gradient(135deg, rgba(244, 226, 156, 0) 0%, rgba(59, 41, 58, 1) 100%),
        linear-gradient(to right, rgba(244, 226, 156, 1) 0%, rgba(130, 96, 87, 1) 100%); */
    background: radial-gradient(circle farthest-corner at center top,
            #3c3b52 0%,
            #252233 80%);
}

.scroll-list {
    width: 70%;
    max-width: 700px;
    padding: 25px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.scroll-list__wrp {
    width: 60%;
    height: 700px;
    overflow: auto;
    padding: 50px;
    box-shadow: 0px 7px 46px 0px rgba(41, 53, 108, 0.45);
    background: #4b1079;
    background: #4b1079;
    margin-bottom: 15px;
    /* background-image: linear-gradient(147deg, #6e0777 0%, #020004 74%); */
    background: radial-gradient(ellipse at bottom left,
            rgba(104, 128, 138, 0.4) 10%,
            rgba(138, 114, 76, 0) 40%),
        linear-gradient(to bottom, rgba(57, 173, 219, 0.25), rgba(42, 60, 87, 0.4)),
        linear-gradient(135deg, #670d10, #092756);
    box-shadow: 0 5px 15px 0px rgba(255, 254, 254, 0.6);
}

.scroll-list__wrp .scrollbar-track {
    display: none !important;
}

.scroll-list__item {
    width: 110%;
    height: 60px;
    display: block;
    margin-bottom: 15px;
    background-image: linear-gradient(147deg, #ff3434 0%, #c31269 74%);
    transition: all 0.35s ease-in-out;
    opacity: 0;
    transform: scale(0.7);
    box-shadow: 0 5px 15px 0px rgba(255, 254, 254, 0.6);
}

.scroll-list__item.item-hide {
    opacity: 0;
    transform: scale(0.7);
}

.scroll-list__item.item-focus {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item.item-next {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item.item-next+.scroll-list__item {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item:last-child {
    margin-bottom: 155px;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}

.userpic {
    height: 75px;
    width: 75px;
    background-color: #a8a8a8;
    margin: 10px;
    border-radius: 50%;
}

.song {
    color: white;
    position: relative;
    right: -100px;
    top: -65px;
    font-size: 8px;
}

@media screen and (max-width: 812px) {
    .scroll-list {
        width: 90%;
        max-width: 700px;
        padding: 20px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .scroll-list__wrp {
        width: 100%;
        align-items: center;

        overflow: auto;
        padding: 50px;
    }
}




.search {
    width: 100px;
    height: 100px;
    margin: 40px auto 0;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;
    bottom: -200px;
}

.search:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    background-color: #00FEDE;
    transition: all 0.5s ease;
}

.search.open {
    width: 420px;
}

.search.open:before {
    height: 60px;
    margin: 20px 0 20px 30px;
    position: absolute;
}

.search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: #fff;
    padding: 20px 100px 20px 45px;
    font-size: 40px;
}

.search-box:focus {
    outline: none;
}

.search-button {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
}

.search-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #00FEDE;
    display: block;
    position: relative;
    margin-left: 5px;
    transition: all 0.5s ease;
}

.search-icon:before {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -2px;
    top: 30px;
    display: block;
    background-color: #00FEDE;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}

.search-icon:after {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -12px;
    top: 40px;
    display: block;
    background-color: #00FEDE;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}

.open .search-icon {
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.open .search-icon:before {
    transform: rotate(52deg);
    right: 22px;
    top: 23px;
    height: 18px;
}

.open .search-icon:after {
    transform: rotate(-230deg);
    right: 22px;
    top: 13px;
    height: 18px;
}