html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
}

.column {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext");
html {
    position: relative;
    overflow: hidden !important;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: black;
}

a,
a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    padding: 5px;
    max-width: 5em;
    max-height: 5em;
}

.userpic {
    height: 75px;
    width: 75px;
    background-color: #a8a8a8;
    margin: 10px;
    border-radius: 50%;
}

.song {
    color: white;
    position: relative;
    font-size: 8px;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #fa9b48 100%);
}

.scroll-list {
    width: 100%;
    max-width: 700px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.scroll-list__wrp {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 700px;
    overflow: auto;
    padding: 25px;
    box-shadow: 0px 7px 46px 0px rgba(41, 53, 108, 0.45);
    background: #4b1079;
    background: #4b1079;
    margin-bottom: 15px;
    /* background-image: linear-gradient(147deg, #6e0777 0%, #020004 74%); */
    /* background: radial-gradient(ellipse at bottom left,
            rgba(104, 128, 138, 0.4) 10%,
            rgba(138, 114, 76, 0) 40%),
        linear-gradient(to bottom, rgba(57, 173, 219, 0.25), rgba(42, 60, 87, 0.4)),
        linear-gradient(135deg, #670d10, #092756);
     */
}

.scroll-list__wrp .scrollbar-track {
    display: none !important;
}

.scroll-list__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-image: linear-gradient(147deg, #ff7c34 0%, #c31269 74%);
    transition: all .35s ease-in-out;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
    box-shadow: 0 5px 15px 0px rgba(255, 254, 254, 0.6);
}

.scroll-list__item.item-hide {
    opacity: 1;
    transform: scale(0.7);
}

.scroll-list__item.item-focus {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item.item-next {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item.item-next+.scroll-list__item {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item:last-child {
    margin-bottom: 100px;
}


/* Second Scroll List */

.wrapper-2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #fa9b48 100%);
}

.scroll-list-2 {
    width: 100%;
    max-width: 700px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-list__wrp-2 {
    width: 100%;
    height: 100%;
    max-height: 700px;
    overflow: auto;
    padding: 25px;
    box-shadow: 0px 7px 46px 0px rgba(41, 53, 108, 0.45);
    background: #4b1079;
    background: #4b1079;
    margin-bottom: 15px;
    border-radius: 8px;
    background-image: linear-gradient(147deg, #6e0777 0%, #380c70 74%);
}